@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>My Coding Test Application</h3></br></br>
<p class="lead">Welcome to my simple solution to the coding test given me.</p>
<p class="lead">
    This App allows users to create user accounts, branches and transaction types.
    Users can thereafter make transactions on the respective accounts on those accounts.
    Some operations aren't best practice in applied world e.g: editing transaction history.
    The concept being quite basic intentionally to bring out the requirement of the test.
</p>
<p class="lead">
    The App is built for using VS 19 and 4.5 .Net platform.
    It also makes use of the basics of ReactJS and bootsrap.
</p>
