@{
    ViewBag.Title = "Coding Test App";
}

<h3>My Coding Test Application</h3>
<div class="jumbotron">
    <h2><strong>Menu</strong></h2>
    <p><h3><a href="/Branches/">Branches &raquo;</a></h3></p>
    <p><h3><a href="/UserAccounts/">UserAccounts &raquo;</a></h3></p>
    <p><h3><a href="/TransactionTypes/">TransactionTypes &raquo;</a></h3></p>
    <p><h3><a href="/Transactions/">Transactions &raquo;</a></h3></p>
</div>
